require("include.tt")

val i:int = 0
var j:string = "test"
while(i <= 10)
    printf("%d\n", fib(i))
    i = i + 1
    var k:bool = true
var s:int = 1
if (x != y)
    x = y
else
    if (a == b)
        x = x + y
    else
        x
